.title {
    &-small {
        letter-spacing: .3125rem;
        font-size: 1.0625rem;
    }
}

.text {
    &-light {
        font-weight: 300;
    }

    &-normal {
        font-weight: 400;
    }

    &-bold {
        font-weight: 700;
    }

    &-hint {
        color: var(--hint);
    }

    &-italic {
        font-style: italic;
    }
}

.flex {
    &-column {
        display: flex;
        flex-direction: column;
    }
}