@import "base/reset";
@import "utils/variables";
@import "utils/utils";
@import "utils/mixins";
@import "base/base";
@import "utils/classes";
@import "utils/animations";

@import "layout/header";
@import "layout/aside";
@import "layout/central";
@import "layout/footer";

/*=============================================
=            Layout global            =
=============================================*/

.grid-container {
    display: grid;
    grid:
        "picture header" auto
        "aside main" 1fr
        "footer footer" auto / 21.875rem auto;
    min-height: 100vh;
    @include responsive(jupiter) {
        grid:
            "header" auto
            "main" auto
            "picture" auto
            "aside" auto
            "footer" auto
            / 1fr;
    }
}

/*=====  End of Layout global  ======*/
