@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');

:root{
    --font-family: 'Mulish', sans-serif;
    --light: #00c3ff
    --primary: #2071e7
    --dark: #2980b9
    --text: #333
    --background: #fafafa
    --hint: #999
    --border: #ddd
}