@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');

:root {
    --font-family: 'Mulish', sans-serif;
    // --light: #00c3ff;
    // --primary: #2071e7;
    // --dark: #2980b9;
    --light: #EF5350;
    --primary: #933634;
    --dark: #6d0c1c;
    --text: #333;
    // --background: #fafafa;
    --progress: #ffc000;
    --background: #262626;
    --hint: #999;
    --border: #ddd;


    // COMPETENCES
    --html: 100%;
    --js: 67%;
    --vue: 50%;
    --node: 63%;
    --sql: 70%;
}