main {
    grid-area: main;
    padding: 3.125rem;
    h2 {
        margin-bottom: 2.5rem;
    }
    p {
        line-height: 1.5625rem;
        letter-spacing: 0.0938rem;
    }
    @include responsive(soleil) {
        padding: 3.125rem 0.9375rem;
        h2 {
            width: 100%;
        }
    }
    .experience {
        display: flex;
        .timeline {
            color: var(--hint);
            padding-right: 1.25rem;
            border-right: 1px solid var(--border);
            p {
                margin: 0;
            }
        }
        .content {
            margin: 0 0.625rem;
            h3,
            p {
                margin: 0;
            }
            ul {
                // list-style: disc;
                padding-left: 2.5rem;
                line-height: 1.5625rem;
                letter-spacing: 0.0938rem;

                li::before {
                    content: "•";
                    color: var(--hint);
                    margin-right: 0.625rem;
                }
                span {
                    color: var(--primary);
                    font-weight: 700;
                }
            }
        }
    }
}
